<template name="homepage">
    <div class="container">
        <section class="col-md-12">
            <form class="form-horizontal col-md-5 col-md-offset-7 search-home">
                <div class="form-group">
                    <label for="search" class="col-sm-4 control-label">
                        Rechercher : 
                    </label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-5">
                            <select class="form-control" id="reference-1" name="reference">
                                {{#each books}}
                                    <option>{{title}}</option>
                                {{/each}}  
                            </select>
                            </div>
                            <div class="col-sm-7">
                            <input type="text" class="form-control" id="reference-2" name="reference" value="{{reference}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="col-md-12">
            <a href="{{pathFor 'newInscription'}}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter une inscription</a>
        </section>
        <hr>
        <section class="col-md-12">
            <h2>Tomes du CIL</h2>
            <div class="row">
                {{#each books}}
                    <div class="col-xs-6 col-md-3">
                        <a href="{{pathFor 'showBook'}}" class="thumbnail">
                            <div class="thumbnail-element">
                                <p><strong>{{title}}</strong></p>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
</template>